.header {
  padding-top: 47px;
  padding-bottom: 18px;

  background:linear-gradient(175deg, rgba(213, 174, 228, 1) 0%, rgba(255, 255, 255, 1) 44%);

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
  }
  
  
  .header__nav {
    display: none;
  }
  
  @media screen and (min-width: 1200px) {
    .header__nav {
      display: block;
      padding-left: 200px;
    }
    .nav-list {
      display: flex;
      justify-content: right;
      gap: 50px;
    }
  }
  


  .nav-list__item {
    font-family: 'Google Sans';
    font-size: 17px;
    line-height: 1.29;
  }
  
  
  .nav-list__item:hover,
  .nav-list__item:focus {
    color: var(--btn-accent-background);
  }


  .header__login {
    font-family: 'Google Sans';
    font-weight: 500;
    font-size: 17px;
    line-height: 22px; 
    display: flex;
    justify-content: right;
    gap: 5%;

    @include scr(tablet) {
      gap: 50px;
    }
  }
  
  .login-signup button {
    width: 102px;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 5px;
}

.header__login-log button {
  width: 102px;
  padding: 10px 15px;
 border: transparent;
 background-color: transparent;

}
.header__login-log button:hover {
  color: var( --btn-accent-background);
 }
