.header .container {
    padding-top: 36px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
  }
  
  @media screen and (min-width: 768px) {
    .header .container {
      padding-top: 35px;
      padding-bottom: 70px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .header .container {
      padding-top: 42px;
      padding-bottom: 94px;
    }
  }
  
  .nav-list {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .nav-list {
      display: flex;
      justify-content: right;
      gap: 50px;
      padding-left: 200px;
    }
  }
  


  .nav-list__item {
    font-family: 'Google Sans';
    font-size: 17px;
    line-height: 1.29;
  }
  
  
  .nav-list__item:hover,
  .nav-list__item:focus {
    color: var(--btn-accent-background);
  }


  .header__login {
    font-family: 'Google Sans';
    font-weight: 500;
    font-size: 17px;
    line-height: 22px; 
    display: flex;
    justify-content: right;
    gap: 5%;

    @include scr(tablet) {
      gap: 50px;
    }
  }
  
  .login-signup button {
    width: 102px;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 5px;
}

.header__login-log button {
  width: 102px;
  padding: 10px 15px;
 border: transparent;
 background-color: transparent;

}
.header__login-log button:hover {
  color: var( --btn-accent-background);
 }
