:root {
    --primary-text-title-color: #5e6282;
    --second-text-title-color: #080809;
    --primary-text-color: #212832;;
    --second-text-color: #717171;
     --background-color: #ffffff;
     --primary-bg-color: #edf2ec;
     --second-bg-color: #d6e7d2;
    --link-color: #010201;
    --btn-color: #000000;
    --btn-accent-background: #e06733;
    --btn-color-accent: #ffffff;
  
  }
  