.container {
  background-color: aqua;
  max-width: 480px;
  margin: 0 auto;

  @include scr(tablet) {
   max-width: 80vw;
  }
  











































































  
}