<section class="bookings" id="hotels">
    <div class="bookings__container container">
      <div class="bookings__title">Easy and Fast</div>
      <div class="bookings__body">
        <div class="bookings__contant">
          <div class="bookings__name">
            Book your next trip in 3 easy steps
          </div>
          <div class="bookings__minicards">
            <div class="bookings__minicard">
              <div class="bookings__minicard-image">
                <picture><source srcset="images/bookings/bookings_01.webp" type="image/webp"><img src="images/bookings/bookings_01.png" alt="" /></picture>
              </div>
              <div class="bookings__minicard-overview">
                <div class="bookings__minicard-title">
                  Choose Destination
                </div>
                <div class="bookings__minicard-info">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Urna, tortor tempus.
                </div>
              </div>
            </div>
            <div class="bookings__minicard">
              <div class="bookings__minicard-image">
                <picture><source srcset="images/bookings/bookings_02.webp" type="image/webp"><img src="images/bookings/bookings_02.png" alt="" /></picture>
              </div>
              <div class="bookings__minicard-overview">
                <div class="bookings__minicard-title">Make Payment</div>
                <div class="bookings__minicard-info">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Urna, tortor tempus.
                </div>
              </div>
            </div>
            <div class="bookings__minicard">
              <div class="bookings__minicard-image">
                <picture><source srcset="images/bookings/bookings_03.webp" type="image/webp"><img src="images/bookings/bookings_03.png" alt="" /></picture>
              </div>
              <div class="bookings__minicard-overview">
                <div class="bookings__minicard-title">
                  Reach Airport on Selected Date
                </div>
                <div class="bookings__minicard-info">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Urna, tortor tempus.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bookings__pic">
          <div class="bookings__item">
            <div class="bookings__card">
              <div class="bookings__card-image">
                <picture><source srcset="images/bookings/greeceTripPic_01.webp" type="image/webp"><img src="images/bookings/greeceTripPic_01.jpg" alt=""></picture>
               </div>  
               <div class="bookings__card-body">
                <div class="bookings__card-title">Trip To Greece</div>
                <div class="bookings__card-info"><span>14-29 June</span>by Robbin joseph</div>
                <div class="bookings__card-icons">
                  <div class="bookings__card-icon-img">
                    <picture><source srcset="images/bookings/bookings-icon_01.webp" type="image/webp"><img src="images/bookings/bookings-icon_01.png" alt=""></picture>
                  </div>
                  <div class="bookings__card-icon-img">
                    <picture><source srcset="images/bookings/bookings-icon_02.webp" type="image/webp"><img src="images/bookings/bookings-icon_02.png" alt=""></picture>
                  </div>
                  <div class="bookings__card-icon-img">
                    <picture><source srcset="images/bookings/bookings-icon_03.webp" type="image/webp"><img src="images/bookings/bookings-icon_03.png" alt=""></picture>
                  </div>
                </div>
                <div class="bookings__card-people">
                  <div class="bookings__card-people-number">24 people going</div>
                  <div class="bookings__card-people-like ">
                    <div class="bookings__card-people-like-box people-like-hidden">
                      <div class="bookings__card-people-like-contant">
                        <div class="bookings__card-people-like-status">Ongoing</div>
                        <div class="bookings__card-people-like-where">Trip to rome</div>
                        <div class="bookings__card-people-like-complete"><span>40%</span> completed</div>
                        <div class="bookings__card-people-like-bar"></div>
                      </div>
                    </div>
                    <img  class='click-like'src="images/bookings/heart_01.svg" alt="">
                  </div>
                </div>
               </div>                     
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>