
  <section class="brands" id="flights">
    <div class="brands__container container">
      <a href="https://www.axon.com/" class="brands__item">
        <div class="brands__item-img">
          <img src="images/brands/brand_01.svg" alt="" />
        </div>
      </a>
      <a href="https://www.jetstar.com/us/en/home?adults=1&children=0&flexible=1&flight-type=2&infants=0&origin=HNL&tab=1" class="brands__item">
        <div class="brands__item-img">
          <img src="images/brands/brand_02.svg" alt="" />
        </div>
      </a>
      <a href="https://www.expedia.com/" class="brands__item">
        <div class="brands__item-img">
          <img src="images/brands/brand_03.svg" alt="" />
        </div>
      </a>
      <a href="https://www.qantas.com/us/en.html" class="brands__item">
        <div class="brands__item-img">
          <img src="images/brands/brand_04.svg" alt="" />
        </div>
      </a>
      <a href="https://www.alitalia.com/en/destinations" class="brands__item">
        <div class="brands__item-img">
          <img src="images/brands/brand_05.svg" alt="" />
        </div>
      </a>
    </div>
  </section>