<section class="quotes">
    <div class="quotes__container container">
      <div class="quotes__swiper-slider first__quotes">
        <div class="quotes__title">Testimonials</div>
        <div class="quotes__text">What people say
          about Us.</div>
      </div> 
      <div class="quotes__swiper-titles swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper quotes__swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide quotes__swiper-slider">
            <div class="quotes__slidebox">
              <div class="quotes__slidebox-card">
                <div class="quotes__slidebox-text">“On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no.”</div>
                <div class="quotes__slidebox-name">Mike taylor</div>
                <div class="quotes__slidebox-location">Lahore, Pakistan</div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
