<section class="destinations" id='destinations'>
    <div class="destinations__container container">
      <div class="destinations__subtitle subtitle">Top Selling</div>
      <div class="destinations__title title">Top Destinations</div>
      <div class="destinations__body">
        <a href="" class="destinations__item">
          <div class="destinations__card">
            <div class="destinations__image">
              <picture><source srcset="images/destinations/destinations_01.webp" type="image/webp"><img src="images/destinations/destinations_01.jpg" alt="" /></picture>
              <div class="destinations__info">
                <div class="destinations__info-body">
                  <div class="destinations__info-where">Rome, Italty</div>
                  <div class="destinations__info-price">$5,42k</div>
                </div>
                <div class="destinations__info-amount">10 Days Trip</div>
              </div>
            </div>
          </div>
        </a>
        <a href="" class="destinations__item">
          <div class="destinations__card">
            <div class="destinations__image">
              <picture><source srcset="images/destinations/destinations_02.webp" type="image/webp"><img src="images/destinations/destinations_02.jpg" alt="" /></picture>
              <div class="destinations__info">
                <div class="destinations__info-body">
                  <div class="destinations__info-where">London, UK</div>
                  <div class="destinations__info-price">$4.2k</div>
                </div>
                <div class="destinations__info-amount">12 Days Trip</div>
              </div>
            </div>
          </div>
        </a>
        <a href="" class="destinations__item">
          <div class="destinations__card">
            <div class="destinations__image">
              <picture><source srcset="images/destinations/destinations_03.webp" type="image/webp"><img src="images/destinations/destinations_03.jpg" alt="" /></picture>
              <div class="destinations__info">
                <div class="destinations__info-body">
                  <div class="destinations__info-where">Full Europe</div>
                  <div class="destinations__info-price">$15k</div>
                </div>
                <div class="destinations__info-amount">28 Days Trip</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>