<header class="header">
    <div class="header__container container">

        <a class="logo" href="/">
            <svg class="logo__icon" width="114" height="34">
                <use href="./images/logo/logo.svg#icon-Logo"></use>
            </svg>
        </a>
        <nav class="header__nav">
            <ul class="nav-list">
                <li class="nav-list__item"><a href="#destinations">Desitnations</a></li>
                <li class="nav-list__item"><a href="#hotels">Hotels</a></li>
                <li class="nav-list__item"><a href="#flights">Flights</a></li>
                <li class="nav-list__item"><a href="#bookings">Bookings</a></li>
            </ul>
        </nav>
            <div class="header__login">
                <div class="header__login-log">
                    <button type="submit">Login</button>
                </div>
                <div class="header__login-sign login-signup">
                    <button type="submit">Sign up</button>
                </div>
              </div>
                    <select class="header__login-lang-box">>
                        <option class="header__login-lang-item item-english">EN
                        <option>
                        <option class="header__login-lang-item item-ukranian" value="/uk/">Uk
                        <option>
                    </select>
<!-- mobile menu -->
        <button class="menu-open" data-menu-open>
            <svg class="menu-burger" width="24" height="16">
              <use href="./images/icons.svg#icon-burger"></use>
            </svg>
            </button>
          <div class="mob-menu is-hidden" data-menu>
              <button class="menu-close" data-menu-close>
                <svg class="menu-close" width="40" height="40">
                  <use href="./images/icons.svg#icon-close"></use>
                </svg>
              </button>
              <ul class="mob-menu-list list">
                <li class="mob-menu-list__item"><a href="/">Desitnations</a></li>
                <li class="mob-menu-list__item"><a href="/">Hotels</a></li>
                <li class="mob-menu-list__item"><a href="/">Flights</a></li>
                <li class="mob-menu-list__item"><a href="/">Bookings</a></li>
                <li class="mob-menu-list__item"><button type="submit">Login</button></li>
                <li class="mob-menu-list__item"><button type="submit">Sign up</button></li>
                <li class="mob-menu-list__item">
                    <select>
                        <option>EN
                        <option>
                        <option value="/en/">EN
                        <option>
                        <option value="/uk/">Uk
                        <option>
                    </select>
                </li>
              </ul>
            </div>

    </div>
</header>