<div class="travel">
    <div class="travel__container container">
      <div class="travel__contant">
        <div class="travel__contant-title">
          Best Destinations around the world
        </div>
        <div class="travel__contant-info">
          Travel, <span>enjoy</span> and live a new and full life
        </div>
        <div class="travel__contant-subtitle">
          Built Wicket longer admire do barton vanity itself do in it.
          Preferred to sportsmen it engrossed listening. Park gate sell
          they west hard for the.
        </div>
        <div class="travel__contant-btns">
          <div class="travel__contant-findbtn">
            <a href="https://www.wikihow.com/Book-a-Flight">Find out more</a>
          </div>
          <div class="travel__contant-playbtn">
            <div class="travel__contant-playbtn-img"></div>
            <a href="">Play Demo</a>
          </div>
        </div>
      </div>
      <div class="travel__image">
        <div class="travel__image-img">
          <img src="images/header/traveler.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <section class="services">
    <div class="services__container container">
      <div class="services__subtitle subtitle">CATEGORY</div>
      <div class="services__title title">We Offer Best Services</div>
      <div class="services__body">
        <a href="" class="services__item">
          <div class="services__card card-service">
            <div class="services__card-img card-img-first">
              <img src="images/services/service_01.svg" alt="" />
            </div>
            <div class="services__card-text">Calculated Weather</div>
            <div class="services__card-info">
              Built Wicket longer admire do barton vanity itself do in it.
            </div>
          </div>
        </a>
        <a href="" class="services__item">
          <div class="services__card card-service">
            <div class="services__card-img card-img-second">
              <picture><source srcset="images/services/service_02.webp" type="image/webp"><img src="images/services/service_02.jpg" alt="" /></picture>
            </div>
            <div class="services__card-text">Best Flights</div>
            <div class="services__card-info">
              Engrossed listening. Park gate sell they west hard for the.
            </div>
          </div>
        </a>
        <a href="" class="services__item">
          <div class="services__card card-service">
            <div class="services__card-img card-img-third">
              <img src="images/services/service_03.svg" alt="" />
            </div>
            <div class="services__card-text">Local Events</div>
            <div class="services__card-info">
              Barton vanity itself do in it. Preferd to men it engrossed
              listening.
            </div>
          </div>
        </a>
        <a href="" class="services__item">
          <div class="services__card card-service">
            <div class="services__card-img card-img-forth">
              <img src="images/services/service_04.svg" alt="" />
            </div>
            <div class="services__card-text">Customization</div>
            <div class="services__card-info">
              We deliver outsourced aviation services for military
              customers
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>